{
	"extends": [
		"airbnb"
	],
	"plugins": [],
	"parserOptions": {},
	"env": {
		"browser": true
	},
	"globals": {
		"scenegraph": true
	},
	"rules": {
		"indent": ["error", 4],
		"react/jsx-indent": ["error", 4, {props: 4}],
		"no-unused-vars": "warn",
		"no-console": "warn",
		"import/no-unresolved": ["warn", { "ignore": ["secenegraph", "commands"] }],
        "import/order": ["warn", "always"],
        "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["selection"] }],
        "react/forbid-prop-types": ["warn", "always"],
        "react/prop-types": ["warn", "always"],
        "react/destructuring-assignment": ["warn", "always"],
		"react/button-has-type": ["error", {
			"button": true,
			"submit": true,
			"reset": true
		}]
	}
}
