{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": [],
  "parser": "babel-eslint",
  "parserOptions": {},
  "env": {
    "browser": true
  },
  "globals": {},
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "import/no-unresolved": [
      "warn",
      {
        "ignore": ["application", "clipboard", "commands", "secenegraph", "uxp"]
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["selection"]
      }
    ],
    "import/order": ["off", "always"],
    "react/forbid-prop-types": ["warn", { "forbid": ["any"] }],
    "react/prop-types": ["warn"],
    "react/destructuring-assignment": ["warn", "always"],
    "react/button-has-type": [
      "error",
      {
        "button": true,
        "submit": true,
        "reset": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "printWidth": 80
      }
    ]
  }
}
